#slideshow {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.slide img {
    width: 100%;
    height: auto;
    overflow: hidden;

    vertical-align: middle;
    max-height: 600px; /* Adjust max-height as needed */
    object-fit: cover; /* Ensures the image covers the entire slide area */
}

.slide-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
}

/* Navigation buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Dots */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
